.App {
  text-align: center;
 
}

/* 전체 */
.layout {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
  background: white;
}

/* MY Todo List*/
.container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 20px;
  background-color: white;
  color: blue
  
}

/* 제목,내용 입력칸 */
.input-group {
  align-items: center;
  display: flex;
  gap: 30px;
  width: 400px;
  height: 30px;
  font-size: 20px;
  border: 4px solid blue;
  border-radius: 12px;
  
}

.box{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  word-break: break-all;
}

/* todo박스 */
.todo-container {
  border: 4px solid blue;
  border-radius: 12px;
  padding: 25px 25px 25px 25px;
  width: 400px;
  font-size: 25px;
  flex-wrap: wrap; 
  flex-direction: row;
  align-items: center;
}

.add-form, .input-group {
    align-items: center;
    display: flex;
    gap: 20px;

}

/* 제목,내용 칸 */
.add-form {
    background-color: white;
    border-radius: 30px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    color: blue;
    font-size: 25px;
    
}

.card{
  
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;

}


.button-set {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.button{
  background-color: #fff;
  border: 2px solid blue;
  color: blue;
  display: flex;
  height: 40px;
 font-size: 20px;
}

